@model AskMe.Models.ViewModels.QuestionViewModels.CreateQuestionViewModel

@{
    ViewData["Title"] = "Ask a question";
}

<div class="container">
  <div class="row">
    <div class="col">
        <section>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Statement"></label>
                        <input asp-for="Statement" class="form-control" placeholder="Enter First Name"/>
                        <span asp-validation-for="Statement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,nameof(Category.CId),nameof(Category.Name)))">
                            <option disabled selected>-- Please Select --</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-red">Login</button>
                    </div>
                </form>    
        <section>
    </div>
  </div>
</div>

 @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }