@model AskMe.Models.ViewModels.QuestionViewModels.QuestionDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <a asp-action="Create" class="link-primary text-decoration-none mt-2"><i class="fa fa-question-circle"></i> Ask a question</a>
    @if(Model.Questions.Count > 0)
    {
        foreach(var q in Model.Questions)
        {
           <div class="card q-card mt-2 p-4">
              <div class="card-body">
                <h3>@q.QuestionStatement</h3>
                <p class="my-2">Answers: @q.AnswerCount</p>
                <small class="my-2">@q.AnswerStatement</small>
                <hr>
                <a asp-action="Details" asp-route-qid=@q.QId class="link-primary text-decoration-none"><i class="fa fa-chevron-down"></i> Read more</a>
              </div>
            </div> 
        }
    }
</div>


