@model AskMe.Models.ViewModels.QuestionViewModels.QuestionDashboardViewModel

@{
    ViewData["Title"] = "History";
}

<div class="container">
    @if(Model.Questions.Count > 0)
    {
        foreach(var q in Model.Questions)
        {
           <div class="card">
              <div class="card-body">
                <h3>@q.QuestionStatement</h3>
                <p>@q.AnswerStatement</p>
                <p><b><span>Answers: </span>@q.AnswerCount</b></p>
              </div>
              <a asp-action="Details" asp-route-qid=@q.QId>Read more</a>
              <a asp-action="Delete" asp-route-qid=@q.QId>Delete</a>
            </div> 
        }
    }
</div>


